<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstcomposeapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstComposeApplication">
        <activity
            android:name=".ExpandableCardWithCompose"
            android:exported="false"
            android:label="@string/title_activity_expandable_card_with_compose"
            android:theme="@style/Theme.FirstComposeApplication" />
        <activity
            android:name=".SuperScriptAndSubScriptText"
            android:exported="false"
            android:label="@string/title_activity_super_script_and_sub_script_text"
            android:theme="@style/Theme.FirstComposeApplication" />
        <activity
            android:name=".textSelectionWithCompose"
            android:exported="false"
            android:label="@string/title_activity_text_selection_with_compose"
            android:theme="@style/Theme.FirstComposeApplication" />
        <activity
            android:name=".TextCustomizationInCompose"
            android:exported="false"
            android:label="@string/title_activity_text_customization_in_compose"
            android:theme="@style/Theme.FirstComposeApplication" />
        <activity
            android:name=".boxLayoutTutorial"
            android:exported="false"
            android:label="@string/title_activity_box_layout_tutorial"
            android:theme="@style/Theme.FirstComposeApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FirstComposeApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>